<component name="ArtifactManager">
  <artifact type="war" name="SpringAutoConfig:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringAutoConfig.war">
      <element id="artifact" artifact-name="SpringAutoConfig:war exploded" />
    </root>
  </artifact>
</component>